.container {
  width: 300px; 
  background-color: #eaeaea; 
  padding: 20px;
  text-align: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

.text {
  font-family: "Inconsolata", monospace;
}

h3.text {
  margin-bottom: 10px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  height: auto;
}




.settings-button.active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .settings-button {
    padding: 0.25em 0.75em;
  }
}
